/* You can add global styles to this file, and also import other style files */

html,
body {
    font-family: 'Mada', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}
