<div class="container-fluid">
  <div class="row">
    <div class="header-wrapper">
      <div class="left-header">

      </div>
      <div class="right-header">
        <div class="col-md-3">


          <ul class="nav-left">
              <li>
                <a class="fa fa-bars"></a>
              </li>

              <li>
                  <a class="fa  fa-arrows-alt"></a>
                </li>
          </ul>
        </div>
        <div class="col-md-6">


          <div class="client-name">
              <h4>Lifeline hospital Management System</h4>
          </div>
        </div>

        <div class="col-md-3">
            <ul class="nav-left pull-right">
                <li>
                  <a class="fa fa-bell-o"></a>
                </li>

                <li class="profile-header">
                    <a class="fa  fa-arrows-alt"></a>

                    <ul class="show-notification profile-notification">
                        <li>
                        <a href="#!">
                        <i class="ti-settings"></i> Settings
                        </a>
                        </li>
                        <li>
                        <a href="user-profile.html">
                        <i class="ti-user"></i> Profile
                        </a>
                        </li>
                        <li>
                        <a href="email-inbox.html">
                        <i class="ti-email"></i> My Messages
                        </a>
                        </li>
                        <li>
                        <a href="auth-lock-screen.html">
                        <i class="ti-lock"></i> Lock Screen
                        </a>
                        </li>
                        <li>
                        <a href="#!">
                        <i class="ti-layout-sidebar-left"></i> Logout
                        </a>
                        </li>
                        </ul>
                  </li>
            </ul>
        </div>
        </div>
    </div>
  </div>
</div>

<div class="container-fluid ht100">
    <div class="row ht">
      <div class="page-wrap fullpage">
        <div class="sidebar-wrap">
            <app-sidebar></app-sidebar>
        </div>
        <div class="container-wrap ht">
            <app-home></app-home>
        </div>
      </div>
    </div>
</div>





